<!DOCTYPE html>
<html>
    <head>
        <title>Welcome</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/png" href="http://example.com/myicon.png">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="CSS/style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>
    <body>
        <section>
            <br><br>
            <div class="wrapper">
            	<div class="container">
                    <h2>Edith</h2>
                    <div>
                        <div class="login" ><a onclick="document.getElementById('id01').style.display='block'" style="width:auto;" >Login</a></div>
                        <div class="signup"><a onclick="document.getElementById('id02').style.display='block'" style="width:auto;" >SignUp</a></div>
                    </div>
                    
                </div>